@import url("https://fonts.google.com/specimen/Red+Hat+Text");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: 'Roboto';
}

body {
  background-color: hsl(235, 16%, 14%);
}